<ion-header>
  <ion-toolbar>
    <ion-title>usuarioInfo</ion-title>
  </ion-toolbar>
</ion-header>


<!-- MODIFICAR USUARIO -->
<!-- RECARGAMOS LOS VALORES CON LO QUE TRAE DEL TS (DE EL USUARIO CON EL QUE HAS INICIADO SESIÓN)-->
<ion-content>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombreInput"  value="{{nombre}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input [(ngModel)]="telefonoInput"  value="{{telefono}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Preferencias</ion-label>
    <ion-input [(ngModel)]="preferenciasInput"  value="{{preferencias}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="pwdInput"  value="{{pwd}}"></ion-input>
  </ion-item>

  <!-- navegación al home una vez comprobada que lo has editado bien -->
  <ion-item >
    <ion-button (click)="updateUser()" [routerLink]="['/home']">Update Usuario</ion-button>
  </ion-item>

</ion-content>
